<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Management Thingy</title>
    <link rel="stylesheet" href="/static/static/simple.min.css">
</head>
<body>
    <h1>Howdy 👋</h1>
    <ul>
        <li><a id="passreset" href="#">reset user's password</a></li>
        <li><a id="kickall" href="#">kick all players</a></li>
        <li><a id="kickplayer" href="#">kick a player</a></li>
        <li><a id="forcelogin" href="#">force a player to login</a></li>
    </ul>
</body>
    <script>
        document.getElementById('passreset').addEventListener('click', function() {
            window.open('/admin/reset', 'Reset Password', 'width=400,height=300');
        });
        document.getElementById('kickall').addEventListener('click', function() {
            window.open('/admin/kickall', 'Kick All Players', 'width=400,height=200');
        });
        document.getElementById('kickplayer').addEventListener('click', function() {
            window.open('/admin/kick-player', 'Kick Player', 'width=400,height=300');
        });
        document.getElementById('forcelogin').addEventListener('click', function() {
            window.open('/admin/force-login', 'Force Login', 'width=400,height=200');
        });
    </script>
</html>