<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Management Thingy</title>
    <link rel="stylesheet" href="/static/static/simple.min.css">
</head>
<body>
    <form id="resetPasswordForm">
        <label for="username">Username:</label>
        <select id="username" name="username" required>
            
        </select>
        <br>
        <label for="password">New Password:</label>
        <input type="text" id="password" name="password" required autocomplete="off">
        <br>
        <button type="submit">Reset Password</button>
    </form>
</body>
<script>
    fetch('/admin/users')
        .then(response => response.json())
        .then(data => {
            sortedUsers = data;
            sortedUsers.sort((a, b) => a.localeCompare(b));
            const usernameSelect = document.getElementById('username');
            sortedUsers.forEach(user => {
                const option = document.createElement('option');
                option.value = user;
                option.textContent = user;
                usernameSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching whitelist data:', error);
        });
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        fetch('/admin/reset-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username: username, password: password }),
        })
        .then(response => {
            if (response.ok) {
                alert('Password reset successfully');
                window.close();
            } else {
                alert('Error resetting password');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
</html>